<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg header-blue navbar-light">
    <div class="m-header">
        <a href="{{ url_for('home_blueprint.index') }}" class="b-brand">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='assets/images/logo.jpg') }}" 
                     alt="{{ _('Stress Less U') }}" 
                     class="logo border border-light rounded-pill"  
                     style="width: 50px;">
            </div>
        </a>
        <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="search-bar">
                    <input type="text" class="form-control border-0 shadow-none" placeholder="{{ _('Search...') }}">
                    <button type="button" class="close" aria-label="{{ _('Close') }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                {% include 'accounts/profile/dropdown-user.html' %}
            </li>
        </ul>
    </div>
</header>
<!-- [ Header ] end -->
